@font-face {
  font-family: 'Overseer';
  src: url("/fonts/Overseer Bold Italic.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 16px;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  margin: 8px;
  padding: 8px;
  border: 2px solid #2dff2d;
  border-radius: 8px;
}

li img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
  background-color: #2dff2d;
  box-shadow: 0 0 5px #2dff2d;
}

.crossed-out {
  text-decoration: line-through;
  color: #ff4136;
}

.message.error {
  background-color: #f8d7da;
  color: #ff4136;
  border: 1px solid #f5c6cb;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  font-weight: bold;
  background-color: #4d0000;
  text-align: center;
}

.message.success {
  background-color: #d4edda;
  color: #2dff2d;
  border: 1px solid #c3e6cb;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  background-color: #003d00;
}

body {
  background-color: #111;
  color: #2dff2d;
  font-family: 'monospace', 'Courier New', Courier;
}

h1 {
  font-family: 'Overseer', monospace;
  font-size: 3.5rem;
}

h1, h2, h3 {
  text-shadow: 0 0 5px #2dff2d;
}

button {
  background-color: transparent;
  border: 1px solid #2dff2d;
  color: #2dff2d;
}
